.idea/.gitignore
.idea/StudentIDCard_Recognition.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml

/resized_img/
cropper/__pycache__/
detector/__pycache__/
detector/config/detector_model.weights
detector/config/yolo-tinyv4-obj_best.weights
detector/config/yolo-tinyv4-obj_final.weights
cropper/test_img/
