<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ID Card OCR</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.jpg') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap"
            rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
            integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
            crossorigin="anonymous"
    />
</head>
<body>
<div class="title">
    <h1>DUT's Student ID Card Recognition</h1>
</div>
<div class="doc">
    <a
            href="https://github.com/trinhdvt/StudentIDCard_Recognition/blob/main/README.md"
            class="btn--link"
            target="blank"
    >Read Document <i class="fas fa-angle-right"></i
    ></a>
</div>
<div class="main-content">
    <div class="web-infor"></div>
    <div class="container">
        <div class="option-list">
            <input type="radio" name="option-type" id="id" checked/>
            <label for="id">Student ID Card</label>
            <input type="radio" name="option-type" id="dv" disabled/>
            <label for="dv">Vietnamese ID Card</label>
        </div>
        <div class="input-file">
            <form action="#" method="post" enctype="multipart/form-data">
                <input
                        type="file"
                        class="input-file-custom"
                        name="input-img"
                        id="input-img"
                />
            </form>
            <span class="input-file-text"> Choose ID Image </span>
        </div>
        <div style="display: flex">
            <h3>Result</h3>
            <img src="{{ url_for('static', filename='img/loading.gif') }}" alt="loading" id="loading-gif"/>
        </div>
        <div class="result">
            <div class="input-sample">
                <img class="sample-img" id="result-img" src="{{ url_for('static', filename='img/cmnd.png') }}" alt="image"/>
            </div>
            <ul class="result-data">
                <li>
                    <b>Full name</b>
                    <div class="result-text" id="full-name">Do Van Trinh</div>
                </li>
                <li>
                    <b>Number</b>
                    <div class="result-text" id="number">102180276</div>
                </li>
                <li>
                    <b>Birthday</b>
                    <div class="result-text" id="birthday">04/09/2000</div>
                </li>
                <li>
                    <b>Class</b>
                    <div class="result-text" id="class">18TCLC-Nhat</div>
                </li>
                <li>
                    <b>Faculty</b>
                    <div class="result-text" id="faculty">CNTT</div>
                </li>
                <li>
                    <b>Year</b>
                    <div class="result-text" id="year">2018</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr/>
<div class="footer">
    <a
            href="https://github.com/trinhdvt/StudentIDCard_Recognition"
            target="blank"
    ><i class="fab fa-github"></i
    ></a>
</div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
